DATABASE_URL="postgresql://postgres:postgres@localhost:5432/jobapply?schema=public"
AUTH_SECRET="replace-with-openssl-rand-hex-32"
NEXTAUTH_URL="http://localhost:3000"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
OPENAI_API_KEY=""
